body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "outfit", sans-serif;
  min-height: 100vh;
}

.qr-code {
  box-sizing: border-box;
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
}
.qr-code__code {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
}
.qr-code__title {
  margin: 1.75rem 1.25rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.qr-code__text {
  font-size: 0.9375rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin-inline: 1.25rem;
  text-align: center;
  margin-block-end: 1.6875rem;
}
